<div ng-init="main.vars.check_user_type()"></div>
<div id="categories-column-wrapper" class="row">
    <div class="row-fluid side-nav-full">
        <button
            type="button"
            ng-click="main.toggleSideBarNav()"
            class="btn btn-primary">Toggle Menu</button>
    </div>
    <div class="clearfix side-nav-full">
        <hr>
    </div>
    <div class="sidebar-nav-custom-class">
        <ul
            ng-if="main.vars.user_type_1_active"
            class="nav main-nav-ul">
            <li ng-repeat="item in main.user1Array">
                <a class="topLink" href="/{{ item.link }}">
                    <!--<span ng-class="item.spanClass"></span>-->
                    {{ item.display }}
                </a>
            </li>
        </ul>
        <ul ng-if="main.vars.user_type_2_3_active" class="nav main-nav-ul">
            <li ng-repeat="item in main.user2And3Array">
                <a class="topLink" href="/{{ item.link }}">
                    <!--<span ng-class="item.spanClass"></span>-->
                    {{ item.display }}
                </a>
            </li>
        </ul>
        <ul ng-if="main.vars.user_type_4_active" class="nav main-nav-ul">
            <li ng-repeat="item in main.user4Array">
                <a class="topLink" href="/{{ item.link }}">
                    <!--<span ng-class="item.spanClass"></span>-->
                    {{ item.display }}
                </a>
            </li>
        </ul>
        <ul ng-if="main.vars.user_type_5_active" class="nav main-nav-ul">
            <li ng-repeat="item in main.user5Array">
                <a class="topLink" href="/{{ item.link }}">
                    <!--<span ng-class="item.spanClass"></span>-->
                    {{ item.display }}
                </a>
            </li>
        </ul>
    </div>
</div>
