<div ng-if="nav.vars.loggedIn" class="inner-view-padding">
    <h1>{{ nav.currentHeaderPageTitle }}</h1>
    <div class="allclear"></div>
    <!-- ADMIN DASHBOARD NAV SECTION -->
    <div ng-init="nav.vars.check_user_type()"></div>
    <div ng-if="nav.vars.loggedIn">
        <ul ng-if="nav.vars.user_type_1_active" class="nav navbar-nav main-nav-ul">
            <li ng-repeat="item in nav.user1Array">
                <a class="topLink" href="/{{ item.link }}">
                    <!--<span ng-class="item.spanClass"></span>-->
                    {{ item.display }}
                </a>
            </li>
        </ul>
        <ul ng-if="nav.vars.user_type_2_3_active" class="nav navbar-nav main-nav-ul">
            <li ng-repeat="item in nav.user2And3Array">
                <a class="topLink" href="/{{ item.link }}">
                    <!--<span ng-class="item.spanClass"></span>-->
                    {{ item.display }}
                </a>
            </li>
        </ul>
        <ul ng-if="nav.vars.user_type_4_active" class="nav navbar-nav main-nav-ul">
            <li ng-repeat="item in nav.user4Array">
                <a class="topLink" href="/{{ item.link }}">
                    <!--<span ng-class="item.spanClass"></span>-->
                    {{ item.display }}
                </a>
            </li>
        </ul>
        <ul ng-if="nav.vars.user_type_5_active" class="nav navbar-nav main-nav-ul">
            <li ng-repeat="item in nav.user5Array">
                <a class="topLink" href="/{{ item.link }}">
                    <!--<span ng-class="item.spanClass"></span>-->
                    {{ item.display }}
                </a>
            </li>
        </ul>
    </div>
    <!-- END ADMIN DASHBOARD NAV SECTION -->
    <div class="allclear"></div>
    <hr>
</div>
