<div
    ng-init="main.initMainSlider()"
    class="triangle-main-slider">
    <div class="tacc-slider-block">
        <div class="tacc-inner-slide img-bg-slide">
            <img
                src="/dist/images/atlUrnLogo_Big.png"
                alt="Atlantic Urns">
        </div>
    </div>
</div>
