<!-- <?php if(isset($slider_on)) { ?> -->
<!-- Carousel Content -->
<!-- This is  stub section for Carousel Code -->
<div id="carousel-triAtl" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-triAtl" data-slide-to="0" class=""></li>
        <li data-target="#carousel-triAtl" data-slide-to="1" class="active"></li>
        <li data-target="#carousel-triAtl" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="item">
            <a href="#"><img src="dist/images/fullCarousel01.png"></a>
            <div class="carousel-caption">
                <h3>Caskets</h3>
                <p>Over 300 Caskets in our catalog.</p>
            </div>
        </div>
        <div class="item active">
            <a href="#"><img src="dist/images/fullCarousel03.png"></a>
            <div class="carousel-caption">
                <h3>Quality First</h3>
                <p>We take the quality of our products seriously.</p>
                <a class="btn btn-triAtl btnCenter" href="#" title="">Learn More</a>
            </div>
        </div>
        <div class="item">
            <a href="#"><img src="dist/images/fullCarousel02.png"></a>
            <div class="carousel-caption">
                <h3 class="carouselGrey">Title Here</h3>
                <p class="carouselGrey">Just a quick peek at a simple modernized logo concept.</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-triAtl" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-triAtl" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<!-- <?php } ?> -->
