<main role="main" class="inner-page-padding">
   <div class="topSpace">
   </div>
   <div class="row">
   <div class="col-lg-5">
   <!-- <img class="img-responsive" src="/dist/images/atlUrnLogo_Big.png" style="margin-left: auto; margin-right: auto;"> -->
   <img class="img-responsive" src="/dist/images/atlUrnLogo_Big.png" style="margin-left: auto;margin-right: auto;max-width: 277px;width: 100%;">
   </div>

  <div class="col-lg-7">
  <h2 class="text-center">About Atlantic Urns</h2>
  <p>Atlantic Urns is part of the Triangle Atlantic Casket Company family and over our 25 years we have become an industry leader that funeral professionals in the Southeast have come to rely on. We are dedicated to serving this noble profession by offering products of superior quality; providing unparalleled delivery and service, and selling at a price that creates exceptional value for funeral directors and the families they serve.</p>

  <p>When a loved one passes away, it’s only natural that friends and family want to honor that life with a fitting tribute. The funeral is the final measure of the esteem we hold for our dearly departed loved ones.  As a distributor of funeral products, we are well aware of the importance of our work and the closure our products help bring about for grieving families.
  </p>
  </div>
          </div>
          <!-- /support row -->
  <hr>
  <!-- Supporting Content -->
    <div class="container ">
  <h2 class="text-center">Why we are an industry leader...</h2>
  <br>
      <div class="row">
        <div class="col-lg-4 col-sm-12 text-center">
          <img class="img-circle" alt="Family Operated" style="width: 140px; height: 140px;" src="/dist/images/family.png" data-holder-rendered="true">
          <h4>Family Operated</h4>
          <p class="text-left">At Triangle Atlantic, we take great pride in the fact that like our customers, we are family owned and operated. We feel our family focus helps us to better serve you and your families.  We can offer you the flexibility, service and care that the other casket companies can’t and understand that we must earn your trust and your business every day. </p>
        </div>
        <div class="col-lg-4 col-sm-12 text-center">
          <img class="img-circle" alt="Straightforward Pricing" style="width: 140px; height: 140px;" src="/dist/images/smCircle04.png" data-holder-rendered="true">
          <h4>Straightforward Pricing</h4>
          <p class="text-left">Fair and honest pricing is our policy and unlike major casket companies, we do not play games with contracts and discounts. We do business the way it used to be by offering one low price to every funeral home – regardless of their size, ownership or selection room representation.  Our universal pricing policy means a funeral professional can be sure that the price he or she pays is the right price. No matter how small the funeral home or large the order, every Triangle Atlantic customer can be sure the price is the fairest possible in every instance. </p>
        </div>
        <div class="col-lg-4 col-sm-12 text-center">
          <img class="img-circle" alt="Customer Service" style="width: 140px; height: 140px;" src="/dist/images/callCenter.png" data-holder-rendered="true">
          <h4>Exceptional Customer Service</h4>
          <p class="text-left">We understand the time-sensitive nature of funeral service and know the importance of being there for funeral directors with the right product and at the right time.  When you call us, you won’t get one of those automated phone systems where you can’t reach a real person.   We still answer our own phones with a live person – whether you’re calling your sales rep, your local warehouse, or the Triangle Atlantic office.  We know how vital it is for you to reach someone quickly and easily.</p>
        </div>
      </div>
      </div>
      <br>
  <br>
</main>
