<main role="main" class="inner-page-padding">
    <div class="row">
        <h2 class="text-center">Catalog</h2>
        <div id="ta-catalog">
            <div
                ng-init="main.getCategories()"
                id="catalog-column-wrapper"
                class="row">
                <div ng-repeat="category in main.allProductCategories"
                    class="col-sm-6 col-md-4 product-thumb-wrapper">
                    <div class="thumbnail">
                        <a href="/show-products/{{ category.category_code }}"
                            class="catalog-image-anchor">
                            <img
                                ng-src="./media_library/{{ category.category_image }}"
                                alt="Hardwoods">
                        </a>
                        <div class="caption">
                            <h3>{{ category.category_description }}</h3>
                            <p>{{ category.category_description }}<br></p>
                            <hr>
                            <p></p>
                            <p>
                                <a
                                    href="/show-products/{{ category.category_code }}"
                                    class="btn btn-primary"
                                    role="button">View</a>
                            </p>
                        </div>
                    </div>
                    <div class="allclear"></div>
                </div>
            </div>
            <div class="row">
                <a href="/all-products" class="btn btn-info">Show All Caskets</a>
            </div>
        </div>
    </div>
</main>
