<!-- <section class="contact-page-section">
    <h2>Contact Us:</h2>
    <div ng-if="main.vars.siteMessage" ng-class="main.vars.siteClass">
        <p>{{ main.vars.siteMessage }}</p>
    </div>
    <form ng-if="main.vars.contactFormActive" class="form-group"
          ng-submit="main.contactTa(main.contactUs)">
        <input type="text" class="form-control" placeholder="Name" ng-model="main.contactUs.name">
        <input type="email" class="form-control" placeholder="Email" ng-model="main.contactUs.email">
        <input type="number" class="form-control" placeholder="Phone" ng-model="main.contactUs.phone">
        <textarea class="form-control" placeholder="Message" ng-model="main.contactUs.message"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section> -->
<main role="main">
  <div class="row">
<br><br>
  <h2 class="text-center">Contact Us</h2>
   <p class="welcomeText">We want to hear what you have to say about us. If you would like to send us a message with a comment, suggestion or question, please fill out the following information on the form below, and we will get back to you as soon as possible.</p>
<hr>
<div class="container text-center">

    <form class="form-horizontal" method="post" role="form">
    	<div class="form-group">
    		<label class="sr-only" for="email">Email</label>
    		<div class="col-sm-6">
    			<input type="email" class="form-control" id="email" name="email" placeholder="E-mail Address" required="" autofocus="">
    		</div>
    	</div>

    	<div class="form-group">
    		<label class="sr-only" for="name">Name</label>
    		<div class="col-sm-6">
    			<input type="text" class="form-control" id="name" name="name" placeholder="Name" required="">
    		</div>
    	</div>

    	<div class="form-group">
    		<label class="sr-only" for="funeralHome">Funeral Home</label>
    		<div class="col-sm-6">
    			<input type="text" class="form-control" id="funeralHome" name="funeralHome" placeholder="Funeral Home" required="">
    		</div>
    	</div>

        <div class="form-group">
    		<label class="sr-only" for="title">Title</label>
    		<div class="col-sm-6">
    			<input type="text" class="form-control" id="title" name="title" placeholder="Your Title" required="">
    		</div>
    	</div>

        <div class="form-group">
    		<label class="sr-only" for="City">City</label>
    		<div class="col-sm-6">
    			<input type="text" class="form-control" id="city" name="city" placeholder="City" required="">
    		</div>
    	</div>

        <div class="form-group">
    		<label class="sr-only" for="state">State</label>
    		<div class="col-sm-2">
    			<input type="text" class="form-control" id="state" name="state" placeholder="State" required="">
    		</div>
    	</div>

        <div class="form-group">
    		<label class="sr-only" for="phone">Phone</label>
    		<div class="col-sm-6">
    			<input type="text" class="form-control" id="phone" name="phone" placeholder="Phone #" required="">
    		</div>
    	</div>

        <div class="form-group">
    		<label class="sr-only" for="fax">Fax</label>
    		<div class="col-sm-6">
    			<input type="text" class="form-control" id="fax" name="fax" placeholder="Fax #">
    		</div>
    	</div>

    	<div class="form-group">
    		<label class="sr-only" for="message">Message</label>
    		<div class="col-sm-6">
    			<textarea id="message" name="message" class="form-control" placeholder="Your Message" rows="5" required=""></textarea>
    		</div>
    	</div>

    	<div class="form-group">
    		<div class="col-sm-offset-2 col-sm-6">
    			<button type="submit" class="btn btn-triAtl">Send Message</button>
    		</div>
    	</div>
    </form>

</div>
  </div>
</main>
