<!DOCTYPE html>
<html lang="en" ng-app="taApp">
<head>
    <meta charset="utf-8">
    <base href="/"/>
    <title update-title></title>
    <meta name="description" content="Atlantic Urns">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!-- _______________________________________________________________________ -->
    <!-- Production Scripts -->
    <!-- <link rel="stylesheet" href="dist/css/bundle.min.css"> -->
    <!-- _______________________________________________________________________ -->
    <!-- Development Scripts -->
    <link rel="stylesheet" href="dist/css/00_vendor.min.css">
    <link rel="stylesheet" href="assets/css/main.all.css">
    <link rel="shortcut icon" type="image/png" href="/dist/images/atlUrn_ico.png" />
    <link rel="stylesheet" href="assets/css/lugosi.css">
    <link rel="stylesheet" href="assets/css/icomoon.css">
    <link href="assets/template-css/half-slider.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap3.min.css">
    <style type="text/css">
        .catalog-image-anchor img {
          max-width: 370px !important;
          width: 100%;
        }
        .product-thumb-wrapper {
          height: 450px;
          margin: 0 0 25px 0;
        }
        .product-thumb-wrapper .thumbnail {
          height: inherit;
        }
        .inner-page-padding {
          padding-top: 65px;
          padding-bottom: 40px;
        }
        .short-thumbnail-wrapper {
          height: 250px;
          margin: 0 0 15px 0;
        }
        .short-thumbnail-wrapper a {
          height: inherit;
        }
        .short-thumbnail-wrapper a img {
          max-width: 250px;
          width: 100%;
        }
    </style>
</head>
<body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="site-header" ui-view="headercontent"></header>
    <section class="site-admin-header" ui-view="adminheadercontent"></section>
    <section class="site-slider" ui-view="slidercontent"></section>
    <section class="site-main-section" ui-view="webcontent"></section>
    <footer role="contentinfo" class="site-footer" ui-view="sitefooter"></footer>
    <div id="footerwrap">
        <div class="container">
            <h4>
                All Content &amp; Images <span class="glyphicon glyphicon-copyright-mark"></span>
                {{ globalCurrentYear }} Triangle Atlantic Casket Company | Solution Designed by:
                <a  href="http://www.setechsupport.com" title="SeTech Support" target="_blank">SeTech Support</a>
            </h4>
            <p style="color: #ffffff;">
                THIS SITE IS NOT INTENDED TO BE AN ADVERTISEMENT TO THE GENERAL PUBLIC.
            </p>
        </div>
    </div>

    <!-- _______________________________________________________________________ -->
    <!-- Production Scripts -->
    <!-- <script src="dist/js/bundle.min.js"></script> -->

    <!-- _______________________________________________________________________ -->
    <!-- Development Scripts -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="dist/js/00_vendor.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
    <script src="assets/js/bootstrap3.min.js"></script>
    <script src="app/controllers/navbarCtrl.js"></script>
    <script src="app/controllers/mainCtrl.js"></script>
    <script src="app/services/httpService.js"></script>
    <script src="app/services/authService.js"></script>
    <script src="app/factories/FormFieldValidationFactory.js"></script>
    <script src="app/factories/dropDownService.js"></script>
    <script src="app/directives/fileReaderDirective.js"></script>
    <script src="app/app.js"></script>
    <script src="app/app.routes.js"></script>
</body>
</html>
