<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<main role="main" class="inner-page-padding">
    <div class="row">
        <br><br>
        <h2 class="text-center">Mailing List Form</h2>
        <br>
        <p>
            This is just a small paragraph about the mail list,
            further describing the types of information it contains
            and why it is useful for a client to use.
        </p>
        <p>
            Integer aliquet maximus tincidunt. Maecenas nec quam hendrerit,
            euismod arcu sit amet, ornare augue. Aliquam ut egestas mi.
            Duis pharetra cursus vestibulum. Etiam ante neque, elementum
            id viverra et, elementum eget nisi. Etiam accumsan mattis
            mattis. Quisque vehicula laoreet lacus sed suscipit. Etiam
            id dui molestie, maximus sapien at, pharetra risus. Aliquam
            ut est ut nisi interdum auctor eget venenatis sapien. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos. Praesent auctor laoreet nisi quis
            rutrum. In sit amet malesuada mi. Ut sit amet arcu nec ipsum
            mattis sodales at quis velit. Quisque in felis et arcu
            tristique scelerisque. Maecenas ipsum lacus, lacinia in
            nunc eget, condimentum sagittis lectus.
        </p>
        <h3>Unsubscribe</h3>
        <p>
            Want to get off of our mailing list? Just enter your
            subscribed email below and we'll stop sending you our
            great specials and industry insights.
        </p>
        <form
            ng-submit="main.unsubscribeEmailFromMailingList(emailObj)"
            class="form-horizontal"
            role="form">
            <div class="form-group">
                <div class="col-lg-6">
                    <input
                        ng-model="emailObj.email_address"
                        type="email"
                        class="form-control"
                        id="inputEmail2"
                        placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 text-center">
                    <button type="submit" class="btn btn-triAtl">Unsubscribe</button>
                </div>
            </div>
        </form><!-- form -->
    </div>
</main>
