<div ng-init="main.initializePrintLogic()" class="container">
    <div ng-init="main.getUserAdminInfo()">
        <div ng-if="main.vars.priceAdjustments">
            <div
                ng-init="main.getSingleProductByCode()">
                <div id="single-product-wrapper" class="row">
                    <img ng-src="./media_library/{{ main.activeSingleProduct.thumbnail_image }}" alt="Clifton">
                </div>
                <div class="row">
                    <ul ng-if="main.vars.access_level === '1'" id="product-details-ul">
                        <li><strong>Name:</strong> {{ main.activeSingleProduct.product_name }}</li>
                        <li><strong>Material:</strong> {{ main.activeSingleProduct.material }}</li>
                        <li><strong>Finish:</strong> {{ main.activeSingleProduct.color_finish }}</li>
                        <li><strong>Price:</strong> {{ main.activeSingleProduct.base_price | currency:"$":0 }}</li>
                        <li><strong>Interior:</strong> {{ main.activeSingleProduct.interior }}</li>
                    </ul>
                    <ul ng-if="main.vars.access_level === '2'" ng-init="main.getUserAdminInfo()">
                        <li><strong>Name:</strong> {{ main.activeSingleProduct.product_name }}</li>
                        <li><strong>Material:</strong> {{ main.activeSingleProduct.material }}</li>
                        <li><strong>Finish:</strong> {{ main.activeSingleProduct.color_finish }}</li>
                        <!-- <li ng-if="!main.vars.optOutOption"><strong>Supplier Base Price:</strong> {{ main.activeSingleProduct.base_price | currency:"$":0 }}</li> -->
                        <li ng-if="!main.vars.optOutOption"><strong>Your Price:</strong> {{ main.vars.currentCustomerProductPrice | currency:"$":0 }}</li>
                        <li ng-if="!main.vars.optOutOption"><strong>Your Customer's Price:</strong> {{ main.yourCustomersProductPrice | currency:"$":0 }}</li>
                        <li ng-if="main.vars.optOutOption">
                            <strong>Price:</strong>
                            {{ main.activeSingleProduct.base_price | currency:"$":0 }}
                        </li>
                        <li ng-if="!main.vars.optOutOption"><strong>Your Customized Markup Rate:</strong> {{ main.vars.usersObj.price_rounding }}%</li>
                        <li><strong>Interior:</strong> {{ main.activeSingleProduct.interior }}</li>
                    </ul>
                    <ul ng-if="main.vars.access_level === '4'" ng-init="main.getUserAdminInfo()">
                        <li><strong>Name:</strong> {{ main.activeSingleProduct.product_name }}</li>
                        <li><strong>Material:</strong> {{ main.activeSingleProduct.material }}</li>
                        <li><strong>Finish:</strong> {{ main.activeSingleProduct.color_finish }}</li>
                        <!-- <li><strong>Price:</strong> {{ main.activeSingleProduct.base_price | currency:"$":0 }}</li> -->
                        <li><strong>Interior:</strong> {{ main.activeSingleProduct.interior }}</li>
                    </ul>
                    <ul ng-if="main.vars.access_level === '5'">
                        <li><strong>Name:</strong> {{ main.activeSingleProduct.product_name }}</li>
                        <li><strong>Material:</strong> {{ main.activeSingleProduct.material }}</li>
                        <li><strong>Finish:</strong> {{ main.activeSingleProduct.color_finish }}</li>
                        <li><strong>Price:</strong> {{ main.vars.currentCustomerProductPrice | currency:"$":0 }}</li>
                        <li><strong>Interior:</strong> {{ main.activeSingleProduct.interior }}</li>
                    </ul>
                </div>
                <div class="allclear"></div>
            </div>
        </div>
    </div>
</div>
