<main role="main" class="inner-page-padding">
    <div class="container">
        <div id="ta-show-products" class="row">
            <h2 class="text-center">Single Product</h2>
            <div
                ng-init="main.getCategories()"
                class="col-md-3">
            		<div id="categories-column-wrapper" class="row">
            				<ul id="catalog-column-ul" class="nav">
                        <li
                            ng-repeat="category in main.allProductCategories"
                            role="presentation">
                            <a href="/show-products/{{ category.category_code }}">
                                {{ category.category_description }}
                            </a>
                        </li>
                    </ul>
            		</div>
            </div>
            <div
                ng-init="main.getSingleProductByCode()"
                class="col-md-9">
             		<div id="single-product-wrapper" class="row">
                    <img ng-src="./media_library/{{ main.activeSingleProduct.thumbnail_image }}" alt="Clifton">
                </div>
             		<div class="row">
             				<ul id="product-details-ul">
                        <li><strong>Name:</strong> {{ main.activeSingleProduct.product_name }}</li>
                        <li><strong>Material:</strong> {{ main.activeSingleProduct.material }}</li>
                        <li><strong>Finish:</strong> {{ main.activeSingleProduct.color_finish }}</li>
                        <li><strong>Interior:</strong> {{ main.activeSingleProduct.interior }}</li>
                    </ul>
             		</div>
                <div class="allclear"></div>
                <div class="row-fluid">
                    <a
                        href="/print-product-details/{{ main.activeSingleProduct.product_code }}"
                        target="_blank"
                        class="btn btn-primary">
                        Print
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
