<div class="whiteBg">
    <main role="main">
        <!-- Welcome Content -->
        <div class="row">
        <hr>
        <h1 class="text-center">Products for cherishing your dearly departed.</h1>
        <p class="welcomeText">Atlantic Urns is a wholesale cremation container products distributor serving the Independent Funeral Directors of North Carolina, South Carolina, and Virginia. Our family has been serving funeral homes for more than 80 years and our approach has remained simple: provide our customers with quality products and superior service at affordable prices to help families honor their loved ones and to help keep funeral homes successful. We have long understood that funeral service is about listening to people’s needs and then providing care and compassion, and believe that should also be true for companies that work with funeral professionals.</p>
        <!-- Just an HR Line Separator -->
        <hr>
        </div>
        <!-- Three Standout to Guide to Catalog -->
        <div class="container ">
          <div class="row">
            <div class="col-lg-4 col-sm-12 text-center">
              <img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="/dist/images/smCircle01.png" data-holder-rendered="true">
              <h4>Product Line</h4>
              <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <p><a class="btn btn-default" href="#">See More</a></p>
            </div>
            <div class="col-lg-4 col-sm-12 text-center">
              <img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="/dist/images/smCircle02.png" data-holder-rendered="true">
              <h4>Product Line</h4>
              <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <p><a class="btn btn-default" href="#">See More</a></p>
            </div>
            <div class="col-lg-4 col-sm-12 text-center">
              <img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="/dist/images/smCircle03.png" data-holder-rendered="true">
              <h4>Product Line</h4>
              <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <p><a class="btn btn-default" href="#">See More</a></p>
            </div>
          </div>
          <br>
        </div>
        <hr>
    </main>
</div>
