@charset "utf-8";
/* Styling for Triangle Atlantic Casket Company */


/* Universal Styles */
body {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

main {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.topSpace {
       margin-top: 75px;
}

.welcomeText {
       font-size: large;
}

.whiteBg {
	background-color: #ffffff;
}

.centered {
    text-align: center;
}

/* Custom Blue Button */
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-triAtl {
    background: #263174;
    color: #ffffff;
}

.btn-triAtl:hover, .btn-triAtl:focus, .btn-triAtl:active, .btn-triAtl.active, .open > .dropdown-toggle.btn-triAtl {
    background: #ffffff;
}

.btn-triAtl:active, .btn-triAtl.active {
    background: #263174;
    box-shadow: none;
}

.btnCenter {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

/* NavBar Styles */
#atlUrn.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#atlUrn.navbar-default {
    font-size: 18px;
    background-color: rgba(38, 49, 116, 1);
    border-bottom-width: 0px;
}
#atlUrn.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(38, 49, 116, 1);
}
#atlUrn.navbar-default .navbar-nav>li>a:hover,
#atlUrn.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(130, 178, 226, 1);
}
#atlUrn.navbar-default .navbar-nav>.active>a,
#atlUrn.navbar-default .navbar-nav>.active>a:hover,
#atlUrn.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(38, 49, 116, 1);
}
#atlUrn.navbar-default .navbar-toggle {
    border-color: #263174;
}
#atlUrn.navbar-default .navbar-toggle:hover,
#atlUrn.navbar-default .navbar-toggle:focus {
    background-color: #263174;
}
#atlUrn.navbar-default .navbar-toggle .icon-bar {
    background-color: #263174;
}
#atlUrn.navbar-default .navbar-toggle:hover .icon-bar,
#atlUrn.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #263174;
}

.topLogo {
	margin: 0px;
}

/* Welcome Content */

.Welcome {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


/* Main Exclusive Styles */

.alignMid {
	margin-left: auto;
	margin-right: auto;
}

p.spacedBot {
	padding-bottom: 15px;
	font-size: 16px;
}

/* Restyle Footer Elements*/
    footer {
    	background-color: #82b2e2;
    	padding: 25px;
		border-top: 1px solid #000000;
		text-align: left;
    }

#footerwrap {
	background: #2b2b2b;
	margin-top: 0px;
	padding-top: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	text-align: center;
	width: 100%;
}

#footerwrap h4 {
	color: white;
}

/* FootLinks */
	  a.footLink:link {
	font-size: 14px;
	color: #404040;
	  }

	  a.footLink:hover {
	text-decoration: none;
        color: #ffffff;
}

.btmLogo {
	margin-left: auto;
	margin-right: auto;
}

/* Header or Carousel CSS*/

#headerwrap {
	background: url( ../assets/staticAtlTopColor.png) no-repeat center top;
	margin-top: -50px;
	padding-top:120px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#ffffff;
	margin-top: 70px;
	padding-bottom: 30px;
}

#headerwrap p {
	color:#000000;
	font-size: 40px;
	font-weight: 400;
	text-align: center;
	line-height: 40px;
	letter-spacing: 3px;
	margin-left: 15px;
	text-shadow: 0px 0px 5px #ffffff;
}
