@import '_variables';

body {

}

// ____________________________________________________________________

/*____special classes to use__________________*/
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
  z-index: 22;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.allclear {
  position: relative;
  width: 100%;
  clear: both;
}

img {
  // width: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.vertically-align-elements {
  // position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.verticallyAlignElements {
  top: 50%;
  transform: translateY(-50%);
}

@mixin vertically-align-elements-mixin {
  top: 50%;
  transform: translateY(-50%);
}

.inner-view-padding {
  padding: 0 15px;
}

// ___________________________________________________________________
// Mobile and desktop classes
.mobile-item {
  @media(min-width: 768px) {
    display: none !important;
  }
}

.desktop-item {
  display: none !important;
  @media(min-width: 768px) {
    display: block !important;
  }
}

// ___________________________________________________________________
.site-header {
  // min-height: 100px;
  min-height: 50px;
  @media(min-width: 1040px) {
    min-height: 55px;
  }
  .main-nav-icons {
    background-color: $white !important;
  }
}

.navbar-brand {
  font-size: 10px !important;
  @media(min-width: 450px) {
    font-size: 18px !important;
  }
}

.main-nav-ul {
  li {
    a {
      .drop-icon {
        font-size: 9px;
        top: -1px;
      }
    }
    // .show-dropdown {
    //   display: block !important;
    // }
    .tacc-dropdown-ul {
      // display: none;
      li {
        position: relative;
        display: block;
        a {
          display: block;
          padding: 10px 15px;
          line-height: 20px;
          color: $white;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            background-color: rgba(130, 178, 226, 1);
          }
          span {

          }
        }
      }
    }
  }
}

// ___________________________________________________________________
.brand-home-content {
  max-width: 260px;
}

// ___________________________________________________________________
.triangle-main-slider {
  position: relative;
  width: 100%;
  height: 300px;
  background: url('../../dist/images/fullCarouselBg.png');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.tacc-slider-block {
  position: relative;
  height: 300px;
  .tacc-inner-slide {
    position: absolute;
    right: 15%;
    left: 15%;
    @extend .verticallyAlignElements;
    p {
      a {
        text-align: center;
      }
    }
  }
  .img-bg-slide {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    // height: 600px;
    height: 100%;
    transform: none;
    background: url('../../dist/images/staticAtlTopColor.png') $black no-repeat;
    background-size: cover;
    background-position: bottom center;
    img {
      position: absolute;
      display: block;
      max-width: 277px;
      width: 100%;
      margin: 0 auto;
      padding: 0;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
    }
  }
}

.slider-h2 {
  color: $white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

p {
  display: block;
  .slide-button-atlantic {
    display: block;
    margin: 0 auto;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    background-color: $blue;
    color: $white;
    text-align: center;
    &:hover {
      text-decoration: none;
      color: $black;
      background-color: $lightgrey;
      outline: none;
    }
    &:active {
      text-decoration: none;
      color: $black;
      background-color: $lightgrey;
      outline: none;
    }
    &:visited {
      text-decoration: none;
      color: $white;
      outline: none;
    }
  }
  .slide-1 {
    max-width: 165px;
  }
  .slide-2 {
    max-width: 190px;
  }
}

.slick-dots {
  bottom: 15px;
  // bottom: 0 !important;
}

.slick-next {
  right: 15px;
  z-index: 10;
}

.slick-prev {
  left: 15px;
  z-index: 10;
}

// ___________________________________________________________________
.login-right-side-form-wrapper {
  width: 100%;
  max-width: 450px;
  margin: 0;
  padding: 0;
}

// ___________________________________________________________________
.topLink {
  cursor: pointer;
}

// ___________________________________________________________________
.image-library-block {
  &-ul {
    &-li {
      float: left;
      // width: 20%;
      width: 100%;
      height: 140px;
      overflow: hidden;
      @media(min-width: 400px) {
        width: 45%;
      }
      @media(min-width: 768px) {
        width: 20%;
      }
      img {
        max-width: 100px;
      }
      span {

      }
    }
  }
}

// ___________________________________________________________________
.library-height-contrain {
  height: 400px;
  overflow: auto;
  margin: 30px 0;
  padding: 20px;
  border: 1px solid $black;
}

.short-thumbnail-wrapper {
  // height: auto !important;
  min-height: 360px !important;
  // background-color: $red;
  .search-anchor-element {
    color: $black;
    text-decoration: none;
  }
  .thumbnail {
    //background-color: $red;
    max-height: 220px;
    min-height: 220px;
    img {

    }
    .caption {
      h4 {

      }
    }
  }
}

// ___________________________________________________________________
.sidebar-nav-active {
  display: block !important;
}
.sidebar-nav-custom-class {
  display: none;
  @media(min-width: 1200px) {
    display: block;
  }
}
.side-nav-full {
  @media(min-width: 1200px) {
    display: none;
  }
}
// ___________________________________________________________________
// ___________________________________________________________________
