$black: #000000;
$darkgrey: #383838;
$lightgrey: #aaaaaa;
$whitegrey: #cccccc;
$whitegrey2: #eaeaea;
$white: #ffffff;
$yellow: #fff000;
$warning_orange: #fbd240;
$red: #ff0000;
$green: #008000;
$blue: #263174;
