<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<div ng-if="main.vars.loggedIn" class="inner-view-padding">
    <div id="ta-add-category-wrapper" class="form-group">
        <div class="row-fluid">
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-2">
            <div ng-include src="'app/views/includes/admin-side-nav.html'"></div>
        </div>
        <div class="col-lg-10">
            <h3>Add Category</h3>
            <form ng-submit="main.createCategory(main.vars.categoryObj)">
                <div class="form-group">
                    <label>Cat Description</label>
                    <input
                        class="form-control"
                        type="text"
                        ng-model="main.vars.categoryObj.category_description"
                        placeholder="Category Description">
                </div>
                <div class="form-group">
                    <label>Select a New Photo (from the gallery below):</label>
                    <p>"<span>{{ main.vars.categoryObj.category_image }}</span>"</p>
                    <input
                        style="display: none;"
                        class="form-control"
                        type="text"
                        ng-model="main.vars.categoryObj.file_name">
                </div>
                <input class="btn btn-default" type="submit" value="go!" />
            </form>
            <hr>
            <div ng-init="main.getImageLibrary()" class="row-fluid image-library-block library-height-contrain">
                <h3>Media Library</h3>
                <ul class="image-library-block-ul">
                    <li class="image-library-block-ul-li" ng-repeat="item in main.mediaObj">
                        <span>{{ item.image_name }}</span> <br>
                        <img
                            src="media_library/{{ item.file_name }}"
                            alt="{{ item.image_name }}"
                            ng-click="main.addCategoryImageString(item)">
                    </li>
                </ul>
                <div class="clearfix"></div>
                <hr>
                <div class="row-fluid">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li ng-repeat="page in main.imageObjPagination.page_range">
                                <span ng-click="main.getPagedImageLibrary(page)">{{ page }}</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="allclear"></div>
<hr>
