<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<div ng-if="main.vars.loggedIn" class="inner-view-padding">
    <div id="ta-add-item-wrapper" class="form-group">
        <div class="row-fluid">
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-2">
            <div ng-include src="'app/views/includes/admin-side-nav.html'"></div>
        </div>
        <div class="col-lg-10">
            <h3>Add Item</h3>
            <form ng-submit="main.createProduct(main.vars.productObj)">
                <label>Name</label>
                <input class="form-control" type="text" ng-model="main.vars.productObj.product_name"
                       placeholder="Product Name"/>
                <br>
                <label>Photo: (Select one from the "Media Library" below).</label> <br>
                <span>"{{ main.vars.adminProductObj.image_name }}"</span>
                <input style="display: none;" class="form-control" type="text"
                       ng-model="main.vars.adminProductObj.thumbnail_image" placeholder="Photo Image">
                <br>
                <label>Category</label> <br>
                <div ng-init="main.getCategories()" style="display: none"></div>
                <select class="form-control" ng-model="main.vars.productObj.category_code">
                    <option value="">Select a Cateogry</option>
                    <option
                        ng-repeat="item in main.allProductCategories"
                        value="{{ item.category_code }}">
                        {{ item.category_description }}
                    </option>
                </select>
                <br>
                <label>Color / Finish</label> <br>
                <input class="form-control" type="text" ng-model="main.vars.productObj.color_finish"
                       placeholder="Color / Finish">
                <br>
                <label>Material</label> <br>
                <input class="form-control" type="text" ng-model="main.vars.productObj.material" placeholder="Material">
                <br>
                <!-- CURRENTLY NO DATABASE COLUMN FOR THE FIELD "Model / Style" -->
                <label>Model / Style</label> <br>
                <input class="form-control" type="text" ng-model="main.vars.productObj.model_style"
                       placeholder="Model / Style">
                <br>
                <label>Price</label> <br>
                <input class="form-control" type="text" ng-model="main.vars.productObj.base_price" placeholder="Price">
                <br>
                <label>Interior</label> <br>
                <input class="form-control" type="text" ng-model="main.vars.productObj.interior" placeholder="Interior">
                <br>
                <input class="btn btn-default" type="submit" value="go!"/>
                <div
                    ng-show="main.vars.siteMessage"
                    ng-class="main.vars.siteClass">
                    {{ main.vars.siteMessage }}
                </div>
            </form>
            <hr>
            <div
                ng-init="main.getImageLibrary()"
                class="row-fluid image-library-block library-height-contrain">
                <h3>Media Library</h3>
                <ul class="image-library-block-ul">
                    <li class="image-library-block-ul-li" ng-repeat="item in main.mediaObj">
                        <span>{{ item.image_name }}</span> <br>
                        <img
                            src="media_library/{{ item.file_name }}"
                            alt="{{ item.image_name }}"
                            ng-click="main.addProductImageString(item)">
                    </li>
                </ul>
                <div class="clearfix"></div>
                <hr>
                <div class="row-fluid">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li ng-repeat="page in main.imageObjPagination.page_range">
                                <span ng-click="main.getPagedImageLibrary(page)">{{ page }}</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="allclear"></div>
<hr>
