<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<div ng-if="main.vars.loggedIn" class="inner-view-padding">
    <div class="form-group">
        <div class="row-fluid">
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-2">
            <div ng-include src="'app/views/includes/admin-side-nav.html'"></div>
        </div>
        <div class="col-lg-10">
            <h3>Create Funeral Home</h3>
            <form ng-submit="main.createFuneralHome(main.vars.funeralHome)">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name: <span class="label label-danger">required</span></label>
                        <input class="form-control" type="text" ng-model="main.vars.funeralHome.contact_person"
                               placeholder="Contact Person">
                    </div>
                    <div class="form-group">
                        <label>Funeral Home: <span class="label label-danger">required</span></label>
                        <input class="form-control" type="text" ng-model="main.vars.funeralHome.fac_name"
                               placeholder="Funeral Home">
                    </div>
                    <div class="form-group">
                        <label>Phone: <span class="label label-danger">required</span></label>
                        <input class="form-control" type="number" ng-model="main.vars.funeralHome.phone"
                               placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <label>Address: <span class="label label-danger">required</span></label>
                        <input class="form-control" type="text" ng-model="main.vars.funeralHome.address_1"
                               placeholder="Address">
                    </div>
                    <div class="form-group">
                        <label>Address2: <span class="label label-default">optional</span></label>
                        <input class="form-control" type="text" ng-model="main.vars.funeralHome.address_2"
                               placeholder="Address2">
                    </div>
                    <div class="form-group">
                        <label>City: <span class="label label-danger">required</span></label>
                        <input class="form-control" type="text" ng-model="main.vars.funeralHome.city"
                               placeholder="City">
                    </div>
                    <div class="form-group">
                        <label>State: <span class="label label-danger">required</span></label>
                        <input class="form-control" type="text" ng-model="main.vars.funeralHome.state"
                               placeholder="State">
                    </div>
                    <div class="form-group">
                        <label>Zip: <span class="label label-danger">required</span></label>
                        <input class="form-control" type="number" ng-model="main.vars.funeralHome.zip"
                               placeholder="Zip">
                    </div>
                    <div class="form-group">
                        <label>Administrative User Name: <span class="label label-danger">required</span></label>
                        <input class="form-control" type="text" ng-model="main.vars.funeralHome.username"
                               placeholder="Administrative User Name">
                    </div>
                    <div class="form-group">
                        <label>Administrative Password: <span class="label label-danger">required</span></label>
                        <input class="form-control" type="password" ng-model="main.vars.funeralHome.password"
                               placeholder="Administrative Password">
                    </div>
                    <div class="form-group">
                        <label>Web Address <span class="label label-default">optional</span></label>
                        <input class="form-control" type="text" ng-model="main.vars.funeralHome.web"
                               placeholder="Web Address">
                    </div>
                    <div class="form-group">
                        <label>E-mail Address: <span class="label label-danger">required</span></label>
                        <input class="form-control" type="text" ng-model="main.vars.funeralHome.email"
                               placeholder="E-mail Address">
                    </div>
                    <input class="btn btn-default" type="submit" value="Create!"/>
                    <div
                        ng-show="main.vars.siteMessage"
                        ng-class="main.vars.siteClass">
                        {{ main.vars.siteMessage }}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="allclear"></div>
    <hr>
</div>
