<div class="container">
    <h1>Migrations</h1>
    <div class="row-fluid">
        <button
            ng-click="main.insertOldUsers()"
            class="btn btn-default">
            Migrate Users
        </button>
    </div>
    <div class="row-fluid">
        <button
            ng-click="main.insertOldProducts()"
            class="btn btn-default">
            Migrate Products
        </button>
    </div>
    <div class="row-fluid">
        <button
            ng-click="main.insertOldImages()"
            class="btn btn-default">
            Migrate Images / Media
        </button>
    </div>
</div>
<div class="allclear"></div>
<hr>
