<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<div
    ng-if="main.vars.loggedIn"
    class="inner-view-padding">
    <div class="form-group">
        <div class="row-fluid">
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-2">
            <div ng-include src="'app/views/includes/admin-side-nav.html'"></div>
        </div>
        <div
            ng-init="main.getMailingListEmails()"
            class="col-lg-10">
            <h3>Mailing List Emails</h3>
            <div class="row-fluid">
                <div class="col-sm-12 col-md-6">
                    <h4>Subscribed Emails</h4>
                    <div class="clearfix"></div>
                    <hr>
                    <ul>
                        <li ng-repeat="subscriber in main.subscribedEmailsList">
                            <strong>Name: </strong>{{ subscriber.users_mailing_name }} <br>
                            <strong>Email: </strong>{{ subscriber.email }} <br>
                            <div class="clearfix"></div>
                            <hr>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h4>Un-Subscribed Emails</h4>
                    <div class="clearfix"></div>
                    <hr>
                    <ul>
                        <li ng-repeat="subscriber in main.unSubscribedEmailsList">
                            <strong>Name: </strong>{{ subscriber.users_mailing_name }} <br>
                            <strong>Email: </strong>{{ subscriber.email }} <br>
                            <div class="clearfix"></div>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="allclear"></div>
<hr>
