<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<div ng-if="main.vars.loggedIn" class="inner-view-padding">
    <div class="form-group">
        <div class="row-fluid">
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-2">
            <div ng-include src="'app/views/includes/admin-side-nav.html'"></div>
        </div>
        <div class="col-lg-10">
            <h3>Search User Accounts</h3>
            <div class="row-fluid">
                <form
                    ng-submit="main.searchUserAccounts(main.vars.usersObj)"
                    class="col-sm-4">
                    <div class="form-group">
                        <label>Account Type</label>
                        <select
                            class="form-control"
                            ng-model="main.vars.usersObj.access_level">
                            <option value="">Account Type</option>
                            <option value="1">Super Admin</option>
                            <option value="2">Funeral Home</option>
                            <!-- <option value="3">Super Admin</option> -->
                            <option value="4">Sales Rep</option>
                            <option value="5">User</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Account Status</label>
                        <select
                            class="form-control"
                            ng-model="main.vars.usersObj.account_status">
                            <option value="">Account Status</option>
                            <option value="777">Active</option>
                            <option value="411">In-Active</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input
                            class="form-control"
                            type="text"
                            ng-model="main.vars.usersObj.username"
                            placeholder="Username">
                    </div>
                    <div
                        ng-show="main.vars.siteMessage"
                        ng-class="main.vars.siteClass">
                        {{ main.vars.siteMessage }}
                    </div>
                    <input class="btn btn-default" type="submit" value="go!"/>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <hr>
            <h3>Manage User Accounts</h3>
            <div id="ta-admin-manage-user-accounts">
                <div id="edit-admin-user-accounts-block" class="row">
                    <form class="inner-view-padding"
                          ng-show="main.vars.accountDelete"
                          ng-submit="main.finalDeleteUserAccount(main.vars.accountDelete)">
                        <div class="form-group">
                            <button
                                type="button"
                                class="btn btn-sm btn-warning"
                                ng-click="main.cancelAnyMangement()">
                                cancel
                            </button>
                        </div>
                        <div class="form-group">
                            <strong>Username: </strong>
                            {{ main.vars.accountDelete.username }}
                        </div>
                        <div class="btn-group">
                            <input class="btn btn-danger" type="submit" value="delete user!"
                                   id="user-account-delete-submit-button">
                        </div>
                    </form>
                    <form class="inner-view-padding"
                          ng-show="main.vars.accountStatusUpdate"
                          ng-submit="main.changeUserStatus(main.vars.accountStatusUpdate)">
                        <div class="form-group">
                            <button
                                type="button"
                                class="btn btn-sm btn-warning"
                                ng-click="main.cancelAnyMangement()">
                                cancel
                            </button>
                        </div>
                        <div class="form-group">
                            <strong>Username: </strong>
                            {{ main.vars.accountStatusUpdate.username }}
                        </div>
                        <div class="form-group">
                            <label>Change Account Status</label>
                            <select
                                class="form-group"
                                ng-model="main.vars.accountStatusUpdate.account_status">
                                <option value="411">In-Active</option>
                                <option value="777">Active</option>
                            </select>
                        </div>
                        <div class="btn-group">
                            <input class="btn btn-success" type="submit" value="update user account status!"
                                   id="user-account-status-submit-button">
                        </div>
                    </form>
                    <div
                        ng-init="main.getUserAccounts()"
                        id="admin-user-accounts-wrapper"
                        class="inner-view-padding">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Account Type</th>
                                <th>Email</th>
                                <th>View Login History</th>
                                <th>Status</th>
                                <th>Change Status</th>
                                <th>Delete User</th>
                            </tr>
                            </thead>
                            <tbody id="admin-user-accounts-table">
                            <tr ng-repeat="account in main.allUserAccountsArray">
                                <td>
                                    <span>{{ account.username }}</span>
                                </td>
                                <td>
                                    <span ng-if="account.account_type === 'super_admin'">Super Admin</span>
                                    <span ng-if="account.account_type === 'funeral_home'">Funeral Home</span>
                                    <span ng-if="account.account_type === 'salesrep'">Sales Rep</span>
                                </td>
                                <td>
                                    <span>{{ account.email }}</span>
                                </td>
                                <td><a class="btn btn-sm btn-success"
                                       href="/view-login-history/{{ account._id }}">view</a></td>
                                <td>
                                    <span ng-if="account.account_status === 777">Active</span>
                                    <span ng-if="account.account_status === 411">In-Active</span>
                                </td>
                                <td>
                                    <button
                                        class="btn btn-sm btn-primary"
                                        ng-click="main.viewPrepUserStatus(account)">
                                        change status
                                    </button>
                                </td>
                                <td>
                                    <button
                                        class="btn btn-sm btn-danger"
                                        ng-click="main.showAccountToDelete(account)">
                                        delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="allclear"></div>
<hr>
