<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<div ng-if="main.vars.loggedIn" class="inner-view-padding">
    <div class="form-group">
        <div class="row-fluid">
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-2">
            <div ng-include src="'app/views/includes/admin-side-nav.html'"></div>
        </div>
        <div class="col-lg-10">
            <h3>Master Product Price Markup</h3>
            <div class="form-group" ng-init="main.getUserAdminInfo()">
                <form ng-submit="main.editMasterPriceMarkup(main.vars.priceAdjustments)">
                    <div class="row-fluid">
                        <div class="col-md-6">
                            <div class="form-group">
                                <h4>Master Product Price Markup: {{ main.vars.siteMasterObj.master_product_price_markup
                                    }}%</h4>
                                <label>Price Markup: (by percentage)<span
                                    class="label label-default">Optional</span></label>
                                <input
                                    class="form-control"
                                    type="text"
                                    ng-model="main.vars.priceAdjustments.master_product_price_markup"
                                    placeholder="Price Markup">
                            </div>
                            <input class="btn btn-default" type="submit" value="Go!"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="allclear"></div>
    <hr>
</div>
