<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<div ng-if="main.vars.loggedIn" class="inner-view-padding">
    <div class="form-group" ng-init="main.getUserAdminInfo()">
    		<form ng-submit="main.editPriceMarkup(main.vars.priceAdjustments)">
            <div class="row-fluid">
        				<div class="col-md-6">
        						<div class="form-group">
                        <h4>Current Markup: {{ main.vars.usersObj.price_rounding }}%</h4>
        								<label>Price Markup: (by percentage)<span class="label label-default">Optional</span></label>
        								<input
                            class="form-control"
                            type="text"
                            ng-model="main.vars.priceAdjustments.price_rounding"
                            placeholder="Price Markup">
        						</div>
                    <div class="row">
                        <div>
                            <strong>Opt out of increases:</strong>
                        </div>
            						<div class="form-group col-sm-2">
                            <label>Yes</label>
            								<input
                                class="form-control"
                                type="radio"
                                ng-value="true"
                                ng-model="main.vars.priceAdjustments.opt_out_base_price_increases">
            						</div>
            						<div class="form-group col-sm-2">
            								<label>No</label>
            								<input
                                class="form-control"
                                type="radio"
                                ng-value="false"
                                ng-model="main.vars.priceAdjustments.opt_out_base_price_increases">
            						</div>
                    </div>
        						<input class="btn btn-default" type="submit" value="Go!" />
        				</div>
            </div>
    		</form>
    </div>
    <div class="allclear"></div>
    <hr>
</div>
