<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<div ng-if="main.vars.loggedIn" class="inner-view-padding">
    <div class="form-group">
        <div class="row-fluid">
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-2">
            <div ng-include src="'app/views/includes/admin-side-nav.html'"></div>
        </div>
        <div class="col-lg-10">
            <h3>About your item you wish to search for.</h3>
            <div id="ta-add-category-wrapper" class="row-fluid">
                <form
                    ng-submit="main.searchProducts(main.vars.searchProductsObj)"
                    class="col-sm-4">
                    <div class="form-group">
                        <label>Name</label>
                        <input
                            class="form-control"
                            type="text"
                            ng-model="main.vars.searchProductsObj.product_name"
                            placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label>Material</label>
                        <input
                            class="form-control"
                            type="text"
                            ng-model="main.vars.searchProductsObj.material"
                            placeholder="Material">
                    </div>
                    <div class="form-group">
                        <label>Color</label>
                        <input
                            class="form-control"
                            type="text"
                            ng-model="main.vars.searchProductsObj.color_finish"
                            placeholder="Color">
                    </div>
                    <div class="form-group">
                        <label>Interior</label>
                        <input
                            class="form-control"
                            type="text"
                            ng-model="main.vars.searchProductsObj.interior"
                            placeholder="Interior">
                    </div>
                    <div
                        ng-show="main.vars.siteMessage"
                        ng-class="main.vars.siteClass">
                        {{ main.vars.siteMessage }}
                    </div>
                    <input class="btn btn-default" type="submit" value="go!"/>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="allclear"></div>
<hr>
<div
    class="row-fluid">
    <div
        ng-repeat="product in main.returnedProductsArr"
        class="col-sm-6 col-md-4 short-thumbnail-wrapper extended-wrapper">
        <a
            href="/single-admin-product/{{ product.product_code }}"
            class="thumbnail search-anchor-element">
            <img
                ng-src="./media_library/{{ product.thumbnail_image }}"
                alt="{{ product.product_name }}">
            <div class="caption">
                <h4>{{ product.product_name }}</h4>
            </div>
            <ul ng-if="main.vars.access_level === '1'" id="product-details-ul">
                <li><strong>Name:</strong> {{ product.product_name }}</li>
                <li><strong>Material:</strong> {{ product.material }}</li>
                <li><strong>Finish:</strong> {{ product.color_finish }}</li>
                <li><strong>Price:</strong> {{ product.base_price | currency:"$":0 }}</li>
                <li><strong>Interior:</strong> {{ product.interior }}</li>
            </ul>
            <ul ng-if="main.vars.access_level === '2'" ng-init="main.getUserAdminInfo()">
                <li><strong>Name:</strong> {{ product.product_name }}</li>
                <li><strong>Material:</strong> {{ product.material }}</li>
                <li><strong>Finish:</strong> {{ product.color_finish }}</li>
                <li><strong>Click to Show Pricing</strong></li>
                <!-- <li><strong>Base Price:</strong> {{ product.base_price | currency:"$":0 }}</li> -->
                <!-- <li><strong>Your Price:</strong> {{ main.vars.currentCustomerProductPrice | currency:"$":0 }}</li> -->
                <!-- <li><strong>Markup Rate:</strong> {{ main.vars.usersObj.price_rounding }}%</li> -->
                <li><strong>Interior:</strong> {{ product.interior }}</li>
            </ul>
            <ul ng-if="main.vars.access_level === '4'" ng-init="main.getUserAdminInfo()">
                <li><strong>Name:</strong> {{ product.product_name }}</li>
                <li><strong>Material:</strong> {{ product.material }}</li>
                <li><strong>Finish:</strong> {{ product.color_finish }}</li>
                <!-- <li><strong>Price:</strong> {{ product.base_price | currency:"$":0 }}</li> -->
                <li><strong>Interior:</strong> {{ product.interior }}</li>
            </ul>
            <ul ng-if="main.vars.access_level === '5'" ng-init="main.getUserAdminInfo()">
                <li><strong>Name:</strong> {{ product.product_name }}</li>
                <li><strong>Material:</strong> {{ product.material }}</li>
                <li><strong>Finish:</strong> {{ product.color_finish }}</li>
                <li><strong>Click to Show Pricing</strong></li>
                <!-- <li><strong>Price:</strong> {{ main.vars.currentCustomerProductPrice | currency:"$":0 }}</li> -->
                <li><strong>Interior:</strong> {{ product.interior }}</li>
            </ul>
            <div class="clearfix"></div>
        </a>
        <div class="clearfix"></div>
    </div>
    <div class="allclear"></div>
</div>
