<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<div ng-if="main.vars.loggedIn" class="inner-view-padding">
    <div class="form-group">
        <div class="row-fluid">
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-2">
            <div ng-include src="'app/views/includes/admin-side-nav.html'"></div>
        </div>
        <div class="col-lg-10">
            <h3>"{{ main.singleUserLoginReport.username }}'s" Login History</h3>
            <div ng-init="main.getSingleUserLoginReport()"
                 class="row-fluid">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Number of logins</th>
                        <th>Access Level</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ main.singleUserLoginReport.username }}</td>
                        <td>{{ main.singleUserLoginReport.number_of_logins }}</td>
                        <td>{{ main.singleUserLoginReport.access_level }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="allclear"></div>
<hr>
